<div class="modal-header">
  <h5 class="modal-title text-center">Quiénes Somos</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    <b>&NGECON CONSTRUCCIONES S.A.S</b> es una empresa con amplia experiencia en el sector de la construcción que nace como respuesta a la
    demanda del mercado. Líder en diseño y construcción de obras de ingeniería, diseño estructural, fabricación y montaje de estructuras
    metálicas, construcción de acueductos, alcantarillados, obras de urbanismo, muros de contención, gaviones, y construcción de vías;
    brindamos garantías en todos nuestros procesos.
  </p>
  <br />
  <p><b> MISIÓN:</b></p>

  <p>
    Hacer de la empresa una constructora flexible que se adapte rápidamente a las necesidades de los clientes y los pueda satisfacer de
    manera oportuna.
  </p>

  <br />
  <p><b>VISIÓN:</b></p>
  <p>Establecer el modelo de liderazgo en el mercado nacional de la construcción con el fin de:</p>
  <ul class="pt-4 pl-5">
    <li>Desarrollo del mejor capital humano con enfoque en sus valores.</li>
    <li>Cumplimiento pleno de las expectativas de sus clientes a través de la innovación constante.</li>
    <li>Ser reconocida ampliamente como Empresa socialmente responsable, capaz de brindar un servicio integral.</li>
  </ul>
</div>
