<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/bridge.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title">&NGECON S.A.S</h1>
        </div>

        <h2 class="presentation-subtitle text-center">CONSTRUCCIONES</h2>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section" id="services">
      <div class="container">
        <div class="tim-title">
          <h2 name="proyects" id="engineering">Nuestros Servicios</h2>
          <div class="row">
            <div class="col col-md-6">
              <h3 class="pl-3">Obras de ingeniería</h3>
              <ul class="pt-4 pl-5">
                <li>Diseño y construcción de Acueductos</li>
                <li>Diseño y construcción de alcantarillados pluviales y sanitarios</li>
                <li>Construcción de muros de cotención</li>
                <li>Construcción de gaviones</li>
                <li>Estudio de suelos</li>
                <li>Cálculos estructurales</li>
                <li>Renovación de redes de acueducto</li>
                <li>Diseño y construcción de vías</li>
                <li>Fabricación de cerramientos</li>
                <li>Manejo de aguas lluvias y construcción de canales abiertos</li>
                <li id="agro">Acabados en casas y apartamentos</li>
              </ul>
            </div>
            <div class="col col-md-6">
              <img class="img-rounded img-responsive resize m-3" src="./assets/img/services.jpg" />
            </div>
          </div>
          <div class="row mt-5">
            <div class="col col-md-6">
              <img class="img-rounded img-responsive resize m-3" src="./assets/img/agro.jpg" />
            </div>
            <div class="col col-md-6 ">
              <h3 class="pl-3">Agroindustria</h3>
              <ul class="pt-4 pl-5">
                <li>Cálculo y selección de motobombas y electrobombas estacionarias y sumergibles</li>
                <li>Implementación de sistemas de riego</li>
                <li>Diseño y fabricación de bandas transportadoras y/o rodillos</li>
                <li>Diseño cálculo y montaje de cuartos fríos y sistemas climatizados</li>
                <li id="structures">Fabricación de tanques cerrados y/o atmosféricos según requerimiento</li>
              </ul>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col col-md-6">
              <h3 class="pl-3">Estructuras</h3>
              <ul class="pt-4 pl-5">
                <li>Invernaderos con estructura metálica, madera, metal-madera y espacial</li>
                <li>Diseño, cálculo y montaje de estructuras metálicas livianas y pesadas</li>
                <li>Bodegas para salas de pos cosecha o almacenamiento</li>
                <li id="automatic">Ornamentación general</li>
              </ul>
            </div>
            <div class="col col-md-6">
              <img class="img-rounded img-responsive resize m-3" src="./assets/img/structure.jpg" />
            </div>
          </div>
          <div class="row mt-5">
            <div class="col col-md-6">
              <img class="img-rounded img-responsive resize m-3" src="./assets/img/automatic.jpg" />
            </div>
            <div class="col col-md-6">
              <h3 class="pl-3">Automatismos</h3>
              <ul class="pt-4 pl-5">
                <li>Sistemas automáticos para apertura de puertas de hojas y/o corredizas</li>
                <li id="iron">Automatización de procesos industriales mediante la aplicación de neumática y oleodinámica</li>
              </ul>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col col-md-6">
              <h3 class="pl-3">Acero inoxidable y aluminio</h3>
              <ul class="pt-4 pl-5">
                <li>Muebles y accesorios en acero inoxidable</li>
                <li>Estructuras en puertas de aluminio</li>
                <li>Barandas y pasamanos en acero inoxidable</li>
                <li id="glass">Elementos arquitectónicos en aluminio y/o acero inoxidable</li>
              </ul>
            </div>
            <div class="col col-md-6">
              <img class="img-rounded img-responsive resize m-3" src="./assets/img/soldering.jpg" />
            </div>
          </div>
          <div class="row mt-5">
            <div class="col col-md-6">
              <img class="img-rounded img-responsive resize m-3" src="./assets/img/architectural_glass.jpg" />
            </div>
            <div class="col col-md-6">
              <h3 class="pl-3">Vidrio</h3>
              <ul class="pt-4 pl-5">
                <li>Diseño y montaje de fachadas en vidrio templado y/o laminado</li>
                <li>Aplicaciones arquitectónicas en vidrio templado y/o laminado</li>
              </ul>
            </div>
          </div>
          <a class="anchor" id="maintenance-guarantie"></a>
          <div class="row justify-content-center full-width pt-4">
            <div class="col col-md-8">
              <div class="card">
                <div class="card-body">
                  <h3 class="card-title text-center">
                    <i class="nc-icon nc-settings pr-3" aria-hidden="true"></i>Servicios de mantenimiento
                  </h3>
                  <ul class="pt-4 pl-5 pb-2">
                    <p>
                      Además el servicio post-venta permanente que ofrece <b>&NGECON CONSTRUCCIONES S.A.S</b> en cada una de sus
                      aplicaciones, efectúa contratos de mantenimiento predictivo, preventivo y correctivo para equipos y maquinaria de
                      fabricación nuestra así como también maquinaria fabricada por otras firmas.
                    </p>
                  </ul>
                  <hr class="divider-elegant" />
                  <h3 class="card-title text-center"><i class="nc-icon nc-check-2 pr-3" aria-hidden="true"></i>Garantía</h3>
                  <ul class="pt-4 pl-5">
                    <p>
                      Todos los equipos fabricados por <b>&NGECON CONSTRUCCIONES S.A.S</b> y/o soluciones estructurales tienen garantía de
                      acuerdo al uso y aplicación.
                    </p>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="proyects">
      <div class="container">
        <div class="tim-title">
          <h2 name="proyects">Proyectos</h2>
        </div>
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="./assets/img/proyect_1.jpg" alt="Random first slide" />
                  <div class="carousel-caption">
                    <p>Proyecto 1</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="./assets/img/proyect_2.jpg" alt="Random second slide" />
                  <div class="carousel-caption">
                    <p>Proyecto 2</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="./assets/img/proyect_3.jpg" alt="Random third slide" />
                  <div class="carousel-caption">
                    <p>Proyecto 3</p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-md-7">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ngb-tabset [justify]="'center'">
                <ngb-tab title="Proyecto 1">
                  <ng-template ngbTabContent>
                    <h4 class="text-muted">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                      gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                      elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                      et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                      sit amet.
                    </h4>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Proyecto 2">
                  <ng-template ngbTabContent>
                    <h4 class="text-muted">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                      magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
                      gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                      elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos
                      et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                      sit amet.'on
                    </h4>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
